@{
    ViewData["Title"] = "Testing Page";
}

<div class="text-center">
    <h1 class="display-4">Test</h1>
    <a class="navbar-brand" asp-area="" asp-controller="Cocktails" asp-action="Index">Cocktails</a>
    <a class="navbar-brand" asp-area="" asp-controller="Ingredients" asp-action="Index">Ingredients</a>
</div>